<input type="text" name="zip-search" id="zip-search" /> <button id="zip-search">Submit</button>
<br/>
<div id="centerThis">
  <ul id="displayData" class="collapsible" data-collapsible="expandable"></ul>
</div>
