<input type="text" name="zip-search" id="zip-search" /> <button id="zip-search">Submit</button>
<br/>
<ul id="displayData" class="collapsible" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">filter_drama</i>First</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">place</i>Second</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">whatshot</i>Third</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
