

/* END OF RESET CSS */

input#zip-search {
  border: 1px solid grey;
  width: 70%;
  height: 2em;
  margin: auto;
}

div#centerThis {
  text-align: center;
  margin: auto;
  width: 65%;
}

div.collapsible-body {
  text-align: left;
  padding: 0 10%;
}

div#userSignUp {
  width: 35%;
  margin: auto;
  display: none;
}

div#userLogin {
  width: 35%;
  margin: auto;
  display: none;
}

.brand-logo {
  font-weight: bold;
}

.footer-list {
  cursor: pointer;
}

.parallax-container {
  height: 300px;
}
